.contentSection {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding: 0 0.5rem 2rem 0.5rem;
  box-sizing: border-box;
}


.scenarioGeneratorTab {
  gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: var(--breakpoint-mobile)) {
  .scenarioGeneratorTab {
    flex-wrap: wrap;
  }
}

@media (max-width: var(--breakpoint-small-mobile)) {
  .tabs {
    width: 350px;
  }
}
