.headerWrapper {
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 12px 12px 0 0;
}
.headerWrapper::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, var(--color-background-primary), #1677ff21);
  z-index: -1;
}

@media (max-width: var(--breakpoint-mobile)) {
  .headerWrapper {
    flex-direction: column;
    padding-bottom: 2.5rem;
    align-items: flex-start !important;
  }
}

.mainLink {
  color: var(--color-text-secondary);
}
.mainLink:hover {
  color: var(--color-text-hover);
}
.inReviewBtn {
  color: var(--color-in-review) !important;
  border-color: var(--color-in-review) !important;
}
.inDevBtn {
  color: var(--color-in-dev) !important;
  border-color: var(--color-in-dev) !important;
}
.inProductionBtn {
  color: var(--color-in-production) !important;
  border-color: var(--color-in-production) !important;
}
.embeddedBtn {
  color: var(--color-text-primary) !important;
  border-color: #d9d9d9 !important;
}
.embeddedBtn:hover {
  border: 1px solid !important;
  border-color: #d9d9d9 !important;
}
.draftBtn:hover, .inDevBtn:hover, .inReviewBtn:hover, .inProductionBtn:hover, .embeddedBtn:hover {
  border-style: inset;
}

.viewSelector {
  width: 100%;
  margin-bottom: 1rem;
}

.segmentedControl {
  transition: all 0.2s;
}

.segmentedControl:focus-visible {
  outline: 2px solid var(--color-link-focus);
  outline-offset: 2px;
  border-radius: 6px;
}