.layoutWrapper {
  margin: auto;
}
.layoutWrapper > * {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 1rem;
}

.alertBanner {
  position: relative;
  left: 0;
  right: 0;
  background: var(--color-in-dev);
  border-radius: 0;
  padding: 0.25rem;
  color: white;
  text-align: center;
}