.tableTitle {
  display: flex;
  gap: 20px;
  justify-content: space-between; 
  align-items: center; 
  margin: 0;
  background: #f9f9f9;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-weight: normal;
}
