@import "@styles/variables";

.headerContainer {
  position: relative;
  padding-bottom: 0.5rem;
  box-shadow: #0000001a 0px 2px 5px;
}

.homeWrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.headerWrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
}

.homeButton {
  color: var(--color-text-primary) !important;
}

.titleHeader {
  margin: 0;
  word-wrap: break-word;
  max-width: 100%;
}

.titleInput {
  font-size: inherit;
  width: 100%;
  padding: 0;
}

.titleFilePath {
  margin: 0;
  color: #aaa;
}

.rightContent {
  min-width: 200px;
  align-items: end;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.125rem;
  color: #4b4b4b;
}

@media (max-width: $breakpoint-mobile) {
  .headerWrapper {
    flex-direction: column;
    align-items: start !important;
    gap: 1rem;
  }
  .headerContent {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.5rem !important;
  }
  .rightContent {
    align-items: start !important;
    min-width: unset;
  }
  .titleHeader {
    font-size: 1.5rem;
  }
  .titleFilePath {
    font-size: 0.875rem;
  }
}