.note :global(.grl-dn__header) {
  height: 34px;
  padding: 5px 8px;
}

.note :global(.grl-dn__header__icon) {
  height: 20px;
  width: 20px;
}

.note :global(.grl-dn__header__icon svg) {
  height: 15px;
}

.note :global(textarea) {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@media (prefers-color-scheme: light) {
  .note :global(.grl-dn__graphCard), .note :global(textarea) {
    background: #fffde5;
  }
}