@import "@styles/variables";

.scenarioGenerator {
  width: 100%;
}

@media (max-width: $breakpoint-tablet) {
  .scenarioGenerator {
    flex-wrap: wrap;
  }
}

@media (max-width: $breakpoint-mobile) {
  .scenarioGenerator {
    flex-direction: column;
    width: 100%;
  }
}