.scenarioGenerator {
  width: 100%;
}

@media (max-width: var(--breakpoint-tablet)) {
  .scenarioGenerator {
    flex-wrap: wrap;
  }
}

@media (max-width: var(--breakpoint-mobile)) {
  .scenarioGenerator {
    flex-direction: column;
    width: 100%;
  }
}