.scenarioGenerator {
  width: 100%;
}

@media (max-width: var(--tablet-breakpoint)) {
  .scenarioGenerator {
    flex-wrap: wrap;
  }
}

@media (max-width: var(--mobile-breakpoint)) {
  .scenarioGenerator {
    flex-direction: column;
    width: 100%;
  }
}