.fullWidthWrapper {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.rulesWrapper {
  background: linear-gradient(0deg, var(--color-background-primary), #FFFFFFe4);
}
@media (prefers-color-scheme: dark) {
  .rulesWrapper {
    background: linear-gradient(0deg, var(--color-background-primary), #171717e4);
  }
}