.rulesWrapper {
  position: relative;
  z-index: 1;
  background: var(--version-color);
  padding: 0 0.5rem 1rem 0.5rem;
}

.rulesWrapper::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    var(--color-gradient-start) 0%,
    var(--color-gradient-end) 100%
  );
  z-index: -1;
}

.rulesGraph {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  min-height: 500px;
  border: 1px solid #b9b9b977;
  background: var(--color-background-primary);
  margin: auto;
}

.actionBar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}

.rootLayout {
  padding: 0;
}

